:root{
    font-size: 10px;

    --mainTitle: #fdd835;
    --headBackground: #000051;
    --mainBackground:#1a237e;
}


@font-face {
    font-family: Press;
    src: url(./fonts/press_start_2p/PressStart2P.ttf);
}
body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    background-color: var(--mainBackground);
    padding:0 ;
    margin: 0;
    
}
/* HEADER */

#header{
    display: flex;
    
    justify-content: center;
    height: 100px;
    background-color: var(--headBackground);

    padding-top: 2rem;
    
}
#title{
    text-align: center;
    font-family: Press, cursive;
    font-size: 3.5rem;
    color: var(--mainTitle);
}
/* CONTENT */


#content{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    
}
h2{
    font-size: 5rem;
    margin-bottom: -2.5rem;
    
}

h3{
    font-size: 3rem;
    
}


#score-Text{
    font-size: 10rem;
}
/* CONTENT ------------------------------------------ */
#buttonHolder{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 3rem;
}

/* SCORE -----------------------------*/

#score{
    display: flex;
    justify-content: center;

    gap: 10rem;

    background-color: var(--mainBackground);
}

img{
    width: 10rem;
    height: 10rem;

    border: solid;
    border-radius: 2rem;
}

#player,#computer{
    text-align: center;
    font-size: 2.5rem;
    color: white;
}




/* END BOX ----------------------------- */

#end-box{
    position: fixed;
    top: 50%;
    left: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: gray;
    
    border-radius: 2rem;
    border: solid black;
    
    

}
.endBox{
    transform: translate(-50% ,-50%) scale(1);
}
.invisible{
    transform: translate(-50% ,-50%) scale(0);
}
#end-message{
    font-size: 3rem;
    margin-bottom: 1rem;
}


/* ----------------------------- */
button{
    cursor: pointer;

    
}
.buttonRPS{
    width: 20rem;
    height: 20rem;
    
    background-size:contain;
    background-repeat: no-repeat;

    border-radius: 3rem;
    border: solid 0.5rem black;

}
/* EFFECT WHEN PRESSED */
button:active{
    transform: scale(0.9);
}
/* EFFECT WHEN CURSOR HOVER */
.buttonRPS:hover{
    box-shadow:0px 5px 15px gray;
}

#buttonRock{
    background-image: url(./img/rock.jpg);
    
}


#buttonPaper{
    background-image: url(./img/paper.jpg);
}

#buttonScissor{
    background-image: url(./img/scissors.jpg);
}


